NODE_ENV=development
WATCHER_PORT=3002
MONGODB_URI=mongodb://localhost:27017/kubeguard
INTERNAL_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
PROJECT_SERVICE_URL=http://localhost:3001
ANALYSIS_SERVICE_URL=http://localhost:3003
LOG_LEVEL=info
SERVICE_NAME=watcher-service
