# --- Service ---
NODE_ENV=development
SERVICE_NAME=watcher-service
WATCHER_PORT=3002

# --- Database ---
MONGODB_URI=mongodb+srv://user:pass@your-cosmos.mongo.cosmos.azure.com/kubeguard?tls=true&retrywrites=false

# --- Security ---
INTERNAL_SECRET=replace-with-64-char-random-string

# --- Internal Service URLs ---
PROJECT_SERVICE_URL=http://localhost:3001
ANALYSIS_SERVICE_URL=http://localhost:3003
